@charset "UTF-8";

header {
    width: 100%;
    position: fixed;
    width: 10px;
    left: 0;
    top: 0;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
}



body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #1e1e1e;
}



.wrapper {
    align-items: center;
    display: flex;
}
.wrapper img {
    display: inline;
    padding-left: 10px;
    width: 25px;
    height: 25px;
}
.wrapper h1 {
    display: inline;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
}
nav {
    width: 100%;
    top: 0;
    padding-top: 1px;
    position: fixed;
    display: block;
    background-color: white;
}
nav hr {
    margin: 0;
    border: 1px solid #a8a8a8;
}
.menu {
    font-size: 13px;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: center;
    color: #a8a8a8;
    padding: 0;
}
.menu a {
    color: rgb(0, 0, 0);
    padding: 0 18px 0;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: color;
}



section {
    line-height: 25px;
    margin: 130px 50px 0;
    word-break: keep-all;
}
.title {
    text-align: center;
    font-size: 50px;
    font-weight:  500;
    line-height: 80px;
    margin: 200px auto 0px;
    animation: fadeIn 1s;
}
.portrait {
    text-align: center;
}
.portrait img{
    width: 200px;
    border-radius: 50%;
    margin: 40px auto;
    animation: fadeIn 2s;
}
.welcome {
    text-align: center;
    margin: 40px 70px 0px;
    animation: fadeIn 3s;
}
.resume {
    text-align: center;
    margin: 110px auto 0;
    font-size: 15px;
    animation: fadeIn 4s;
}
.resume h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 70px auto 70px;
}
.resume p {
    font-size: 15px;
    font-weight: 300;
    margin: 20px auto 20px;
    color: rgb(86, 86, 86);
}
.resume b {
    font-size: 17px;
    font-weight: 500;
    color: black;
}



footer hr {
    width: 90%;
    border: 1px solid #a8a8a8;
    margin: 120px auto 0px;
}
.footer {
    width: 100%;
    height: 100px;
    margin: 20px auto 40px;
    text-align: center;
}
.footer h1 {
    font-size: 20px;
    font-weight: 300;
}
.footer a {
    font-weight: 300;
    text-decoration: none;
    color: rgb(47, 47, 47);
    transition-duration: 0.2s;
    transition-property: color;
}
.footer span {
    margin: 0 5px;
    color: #a8a8a8;
}
.footer p {
    font-size: 12px;
    margin: 20px auto 10px;
}
@media ( max-width: 450px ) {
    .wrapper {
        display: none;
    }
    .menu {
        height: 10px;
    }
    .title h1 {
        margin-top: 50%;
        font-size: 60px;
        line-height: 60px;
    }
    .welcome {
      margin: 40px 10px 0px;
    }
}
@media ( hover: hover ) {
    .menu li a:hover {
        color: #a8a8a8;
        text-decoration: none;
    }
    .footer a:hover {
        color: #a8a8a8;
        text-decoration: none;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}