@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

html {
  font-family: Pretendard Variable;
}

header {
    width: 100%;
    position: fixed;
    width: 10px;
    left: 0;
    top: 0;
    z-index: 2;
}



body {
    width: 100%;
    margin: 0;
    padding: 0;
}



.wrapper {
    align-items: center;
    display: flex;
}
.wrapper img {
    display: inline;
    padding-left: 10px;
    width: 25px;
    height: 25px;
}
.wrapper h1 {
    display: inline;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
}
nav {
    width: 100%;
    top: 0;
    padding-top: 1px;
    position: fixed;
    display: block;
    background-color: white;
}
nav hr {
    margin: 0;
    border: 1px solid #a8a8a8;
}
.menu {
    font-size: 13px;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: center;
    color: #a8a8a8;
    padding: 0;
}
.menu a {
    color: rgb(0, 0, 0);
    padding: 0 18px 0;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: color;
}



.title {
    text-align: center;
}
.title h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 150px auto 0;
    animation: fadeIn 1s;
}
.title h2 {
    font-size: 80px;
    font-weight: 700;
    margin: 10px auto 10px;
    animation: fadeIn 2s;
}
.title h3 {
    font-size: 30px;
    font-weight: 500;
    margin: 15px auto 10px;
    animation: fadeIn 3s;
}
.mainImage {
    text-align: center;
}
.mainImage img {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto 0px;
    animation: fadeIn 4s;
}
.quotes {
    text-align: center;
    display: block;
    width: 80%;
    margin: 0 auto;
    word-break: keep-all;
    animation: fadeIn 5s;
}
.q1 {
    margin: 150px auto 0px;
}
.q1 h1 {
    font-weight: 300;
}
.q2 {
    margin: 150px auto 0px;
}
.q2 h1 {
    font-weight: 300;
}
.article {
    width: 80%;
    animation: fadeIn 4s;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    margin: 130px auto 0;
    word-break: keep-all;
    animation: fadeIn 5s;
}



footer hr {
    width: 90%;
    border: 1px solid #a8a8a8;
    margin: 120px auto 0px;
}
.footer {
    width: 100%;
    height: 115px;
    margin: 20px auto 40px;
    text-align: center;
}
.footer h1 {
    font-size: 20px;
    font-weight: 300;
}
.footer a {
    font-weight: 300;
    text-decoration: none;
    color: rgb(47, 47, 47);
    transition-duration: 0.2s;
    transition-property: color;
}
.footer span {
    margin: 0 5px;
    color: #a8a8a8;
}
.footer p {
  font-size: 12px;
  margin: 20px auto 10px;
}
@media ( max-width: 470px ) {
    .wrapper {
        display: none;
    }
    .menu {
        height: 10px;
    }
    .title h2 {
        font-size: 60px;
        line-height: 60px;
    }
    .title h3 {
      font-size: 17px;
    }
}
@media ( hover: hover ) {
    .menu li a:hover {
        color: #a8a8a8;
        text-decoration: none;
    }
    .footer a:hover {
        color: #a8a8a8;
        text-decoration: none;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}