@charset "UTF-8";

body {
    width: 100%;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    position: fixed;
    width: 10px;
    left: 0;
    top: 0;
    z-index: 2;
}
.wrapper {
    align-items: center;
    display: flex;
}
.wrapper img {
    display: inline;
    padding-left: 10px;
    width: 25px;
    height: 25px;
}
.wrapper h1 {
    display: inline;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
nav {
    width: 100%;
    top: 0;
    padding-top: 1px;
    position: fixed;
    display: block;
    background-color: white;
}
hr {
    margin: 0;
    border: 1px solid #a8a8a8;
}
.menu {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: center;
    color: #a8a8a8;
    padding: 0;
    
}
.menu a {
    color: rgb(0, 0, 0);
    padding: 0 18px 0;
    text-decoration: none;
}
.title {
    font-family: 'Roboto', sans-serif;
}
.title h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 100px;
    text-align: center;
}
.title h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}
@media ( max-width: 500px ) {
    .wrapper {
        display: none;
    }
    nav {
        background-color: white;
    }
}
@media ( hover: hover ) {
    .menu li a:hover {
        color: #a8a8a8;
        text-decoration: none;
    }
}
