@charset "UTF-8";

body{
    width: 100%;
    margin: 0;
    padding: 0;
}
header{
    min-width: 200px;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0; left: 0;
}
.wrapper {
    align-items: center;
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.wrapper img{
    display: block;
    padding: 0 0 0 10px;
    width: 25px;
}
.wrapper h1{
    padding: 0 0 0 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
nav {
    z-index: 1;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    margin: 0 auto;
}
nav ul{
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: -100px;
}
.menu{
    line-height: 20px;
}
.menu a{
    color: rgb(0, 0, 0);
    display: block;
    padding: 0 18px;
    text-decoration: none;
}
.divider {
    color: #a8a8a8;
}
nav ul li a:hover{
    color: #a8a8a8;
}
header hr{
    border: 1px solid #d3d3d3;
    margin-top: 0;
}