@charset "UTF-8";

body {
    width: 100%;
    margin: 0;
    padding: 0;
}
header {
    min-width: 200px;
    width: 100%;
    position: fixed;
    top: 0; left: 0; bottom: 0;
}
.wrapper {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.wrapper img {
    display: block;
    padding-left: 10px;
    width: 25px;
}
.wrapper h1 {
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
nav {
    position: relative;
}
.menu {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    list-style: none;
    display: flex;
    line-height: 20px;
    justify-content: center;
    color: #a8a8a8;
}
.menu a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 0 18px 0;
    text-decoration: none;
}
header hr {
    border: 1px solid #a8a8a8;
}
@media ( max-width: 500px ) {
    .wrapper {
        display: none;
    }
}
@media (hover: hover) {
    nav ul li a:hover {
        color: #a8a8a8;
        text-decoration: none;
    }
}
